{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <form method="POST" action="">
        {% csrf_token %}
    {{ form|crispy }}
    <p>Don't you have an account? Create one <a href="{% url 'register' %}" class="text-reset fw-bold">here</a></p>
    <button type="submit" class="btn btn-success">Login</button>
    </form>
{% endblock %}