{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Create an Account
{% endblock %}

{% block content %}
    <h3>Create an Account</h3>
    <hr>
    <form method="POST" action="" class="form-group">
        {% csrf_token %}
        {{ form|crispy }}
    <button type="submit" class="btn btn-success">Register</button>
    </form>

{% endblock %}