{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <h3>Contact Groups</h3>
    <hr>
    <div class="list-group">
        {% for group in groups %}
            <a href="{% url 'contact_list' group.id %}" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ group.name }}</h5>
                </div>
                <p class="mb-1">N contacts</p>
            </a>
        {% endfor %}
    </div>
{% endblock %}