{% extends 'base.html' %}

{% block title %}
    Contact List
{% endblock %}

{% block content %}
    <h3>{{ contact_ls.name }}</h3>
    <hr>
        {% for contact in contact_ls.contact_set.all %}
            <a href="{% url 'contact_detail' contact.id %}" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ contact.name }}</h5>
                </div>
                <p class="mb-1">{{ contact.phone_number }}</p>
                <small class="text-muted">{{ contact.email }}</small>
            </a>
        {% endfor %}
{% endblock %}
