{% extends 'base.html' %}

{% block title %}
    Contact
{% endblock %}

{% block content %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ contact.name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ contact.phone_number }}</h6>
            <p class="card-text">{{ contact.email }}</p>
{#            TODO: add functionality to these buttons#}
            <a href="#" class="card-link text-reset fw-bold">Call</a>
            <a href="#" class="card-link text-reset fw-bold">Send email</a>
            <a href="#" class="card-link text-reset fw-bold">Edit</a>
            <a href="#" class="card-link text-reset fw-bold">Delete</a>
        </div>
    </div>
{% endblock %}
