{% extends 'base.html' %}

{% block title %}
    Create Contact List
{% endblock %}

{% block content %}
    <h3>Create New List of Contacts</h3>
    <hr>
    <form method="POST" action="{% url 'create_list' %}" class="form-group">
        {% csrf_token %}
        {{ form.as_p }}
        {% for error in errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
        <button type="submit" name="create" class="btn btn-success">Create List</button>
    </form>
{% endblock %}
