{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <h3>Phonebook</h3>
    <hr>
    <p><strong>Phonebook</strong> is a web application that helps you to manage your contacts.</p>
    
{% endblock %}