{# TODO: Create footer#}
<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="https://www.linkedin.com/in/jsierrabravo/">Juanse, Inc. </a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->